.header__mobile-inner.header__mobile-inner--auth {
    justify-content: flex-start;
    text-align: center;
}

.header__mobile-auth-return {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__mobile-auth-return img {
    width: 20px;
}

.header__mobile-title {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.auth-box.auth-verify {
    padding: 30px;
}

.auth-box .rect-btn--auth {
    text-align: center;
}

.auth {
    padding: 30px 0;
}

.auth .container {
    padding: 0 20px;
}

.auth-box.auth-start .rect-btn--auth,
.auth-box.auth-password-success .rect-btn--auth,
.auth-box.auth-welcome .rect-btn--auth {
    width: 50%;
}

.auth-title {
    font-size: 16px;
    font-weight: 500;
}

.auth-box {
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 10px;
}

.auth-text {
    color: var(--text-grey-color);
    margin-top: 7px;
}

.rect-btn--auth {
    display: block;
    width: 100%;
    margin: 30px auto 0;
}

.rect-btn--auth.transparent {
    margin-top: 10px;
}

.auth-tools,
.auth__form-tools {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.auth-remember,
.auth__form-remember {
    position: relative;
}

.auth-box input[type=checkbox],
.auth__form-remember input[type=checkbox] {
    opacity: 0;
    z-index: -1;
    position: absolute;
}

.auth-remember label,
.auth__form-remember label {
    font-size: 12px;
    color: var(--text-grey-color);
    padding-left: 35px;
    cursor: pointer;
}

.auth-remember__slider,
.auth__form-remember-slider {
    position: absolute;
    width: 30px;
    height: 16px;
    background-color: #d9d9d9;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: .2s;
}

.auth-remember__slider-circle,
.auth__form-remember-slider-circle {
    position: absolute;
    top: 50%;
    transform: translate(10%, -50%);
    width: 13px;
    height: 13px;
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .25);
    border-radius: 50%;
    transition: .2s;
}

.auth-remember input:checked ~ .auth-remember__slider,
.auth__form-remember input:checked ~ .auth__form-remember-slider {
    background-color: var(--main-blue);
}

.auth-remember input:checked ~ .auth-remember__slider .auth-remember__slider-circle,
.auth__form-remember input:checked ~ .auth__form-remember-slider .auth__form-remember-slider-circle {
    transform: translate(120%, -50%);
}

.auth-tools button {
    color: var(--main-blue);
    font-size: 12px;
}

.auth-form {
    max-width: 50%;
    margin: 30px auto 0;
}

.auth-form__label {
    font-size: 12px;
    display: block;
    position: relative;
}

.auth-form__label--checkbox {
    display: flex;
    cursor: pointer;
}

.auth-form__label--checkbox p {
    position: relative;
    padding-left: 30px;
    color: var(--text-grey-color);
    max-width: 230px;
}

.auth-form__label--checkbox p::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid var(--subtitle-color);
    border-radius: 2px;
    background-color: #fff;
}

.auth-form__label--checkbox p::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    content: '';
    width: 11px;
    height: 9px;
    background: url(../img/icons/check.svg) center center / cover no-repeat;
    transition: var(--alt-transition);
    opacity: 0;
}

.auth-form__label--checkbox input:checked + p::after {
    opacity: 1;
}

.show-password-btn {
    position: absolute;
    background-color: var(--main-blue);
    width: 30px;
    height: 39px;
    bottom: 0;
    right: 0;
    border-radius: 0 10px 10px 0;
    background-image: url('../img/icons/auth-form/close-eye.svg');
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-img 0s;
}

.auth-form__label .auth-form__show-password.active {
    background-image: url('../img/icons/auth-form/open-eye.svg');
}

.auth-form__label input:not([type=checkbox]),
.personal__form--change-password .personal__form-label input {
    width: 100%;
    border: 1px solid var(--main-blue);
    padding: 10px 15px 10px 45px;
    font-size: 14px;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 10px;
    margin-top: 5px;
}

.auth-form__label:not(:first-child) {
    margin-top: 10px;
}

.auth-form__label input::placeholder {
    font-size: 14px;
}

.auth-form__label input[type=email] {
    background-image: url('../img/icons/auth-form/email.svg');
}

.auth-form__label input[type=password],
.auth-form__label input.password-input,
.personal__form--change-password .personal__form-label input {
    background-image: url('../img/icons/auth-form/lock.svg');
}

.auth-form__label input[type=text]:not(.password-input) {
    background-image: url('../img/icons/auth-form/user.svg');
}

.auth-form__label input[type=number]:not(.auth-verify-input) {
    background-image: url('../img/icons/auth-form/phone.svg');
}

p.check-acc {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 8px;
    color: #8c8c8c;
}

p.check-acc button {
    color: var(--main-blue);
}

p.auth-form__label-subtext {
    color: var(--text-grey-color);
    font-size: 12px;
    margin-top: 10px;
}

.auth-form__label input[type=number].auth-verify-input {
    text-align: center;
    padding: 10px 15px;
}