.title--banner img {
    max-width: 240px;
}

.brand-descr,
.action-descr {
    font-size: 16px;
}

.brand-descr b,
.action-descr b {
    font-weight: 500;
}

.brand-descr ul,
.action-descr ul {
    list-style-type: disc;
    list-style-position: inside;
}

.brand-descr ul li:not(:first-child),
.action-descr ul li:not(:first-child) {
    margin-top: 5px;
}

.brand,
.action:not(.products__main) {
    padding: 50px 0;
}

.brand {
    padding-top: 30px;
}

.action .category__inner {
    margin-top: 30px;
}

.brand-descr .tags {
    margin-top: 50px;
}