.brands:has(.brands__header) {
    margin-bottom: 50px;
}

.brands__header,
.news__header {
    display: flex;
    justify-content: flex-end;
}

.brands__content,
.news__content {
    margin-top: 50px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(calc(440px - 40px), 1fr));
}