/* CART-EMPTY START */

.page-empty,
.cart {
    margin-bottom: 100px;
}

.page-empty__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0 0 0;
    text-align: center;
}

.page-empty img {
    width: 134px;
    height: 85px;
}

.page-empty__title {
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 1.5;
    font-weight: 600;
}

.page-empty__list {
    margin-top: 10px;
    list-style-type: disc;
    list-style-position: inside;
}

.page-empty__list li:not(:first-child) {
    margin-top: 5px;
}

.page-empty__text {
    margin-top: 10px;
}

.rect-btn--page-empty {
    margin-top: 30px;
    font-size: 12px;
    padding: 10px 20px;
}

/* CART-EMPTY END */

/* CART START */

#bx-soa-order {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 32px;
    gap: 50px;
}

#bx-soa-data {
    width: 100%;
}

#bx-soa-main-content {
    border: none;
    background: none;
    box-shadow: none;
}

#bx-soa-basket.bx-soa-section,
#bx-soa-basket.bx-soa-section .bx-soa-section-title-container,
#bx-soa-basket.bx-soa-section .bx-soa-section-content {
    background: none;
}

.cart-list__tools {
    display: flex;
    align-items: center;
    gap: 40px;
}

#bx-soa-basket .qty {
    color: var(--subtitle-color);
}

.cart-list__buttons {
    display: flex;
    gap: 15px;
}

.cart-list__buttons .rect-btn {
    border-radius: 5px;
    height: 40px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    padding: 0;
}

#clear-basket,
#print_order_button {
    border-radius: 5px;
    height: 40px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    padding: 0;
}

#clear-basket {
    padding: 10px 6px;
}

#print_order_button {
    padding: 10px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* .cart-list__buttons .rect-btn--excel {
    padding: 10px 9px 10px 12px;
    display: flex;
    gap: 10px;
}

.cart-list__buttons .rect-btn--share {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
} */

.cart-list__header {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    border-spacing: 0;
}

.cart-list__header tr td {
    padding: 15px 0;
}

.cart-list__header-item {
    font-size: 14px;
    font-weight: 500;
}

.cart-list__header tr td:nth-child(1),
.cart-table tr td:nth-child(1) {
    width: 58%;
}

.cart-list__header tr td:not(:first-child) {
    text-align: center;
}

.cart-table {
    width: 100%;
    border-spacing: 0 25px;
    border-collapse: separate;
}

.cart-table tr {
    background-color: #fff;
    border-radius: 5px;
}

.cart-table tr td,
.cart-list__header tr td {
    padding: 15px 0;
    width: 16%;
}

.cart-list__header tr td:last-child {
    width: 10%;
}

.cart-table tr td:nth-child(1),
.cart-list__header tr td:nth-child(1) {
    padding-left: 25px;
    border-radius: 5px 0 0 5px;
}

.cart-table tr td:nth-child(4),
.cart-list__header tr td:nth-child(4) {
    padding-right: 25px;
    border-radius: 0 5px 5px 0;
}

.cart-table tr .bx-soa-item-td {
    display: table-cell;
    width: 10%;
}

.cart-product {
    display: flex;
    align-items: center;
    gap: 15px;
}

.img-box {
    display: flex;
    flex: 0 0 75px;
    align-items: center;
    justify-content: center;
    max-width: 75px;
    height: 75px;
}

.cart-product .img-box > span {
    position: relative;
}

.cart-product .img-box img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.cart-product .text {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 5px;
}

.cart-product .text .name {
    font-size: 18px;
}

.cart-product .text .item-info {
    display: flex;
    gap: 10px;
}

.cart-product .text .item-info .item-available,
.cart-product .text .item-info .item-color {
    display: flex;
    align-items: baseline;
    gap: 5px;
    color: var(--subtitle-color);
    font-size: 12px;
}

.cart-product .text .item-info .item-color {
    gap: 0;
}

.cart-product .text .item-info .item-color .item-color-value {
    color: var(--text-black-color);
}

.cart-product .text .item-info .item-available .color {
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.bx-soa-item-td-text {
    vertical-align: middle;
    display: flex;
    justify-content: center;
}

.basket-item-block-amount {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: var(--filter-bg-color);
    border-radius: 5px;
    max-width: 120px;
    margin: 0 auto;
}

.basket-item-block-amount .basket-item-amount-field-block input {
    background: transparent;
    width: 20px;
    text-align: center;
    border-radius: 3px;
}

.basket-item-amount-btn-minus,
.basket-item-amount-btn-plus {
    padding: 15px 20px;
    width: 50px;
    cursor: pointer;
    text-align: center;
}

.bx-soa-item-td-text .price {
    font-size: 20px;
    font-weight: 500;
}

.cart-table tr td:nth-child(3) .bx-soa-item-td-text {
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    align-items: flex-start;
}

.bx-price-old {
    position: relative;
    font-weight: 500;
    font-size: 12px;
    color: var(--subtitle-color);
    text-decoration: line-through;
}

.bx-price-old span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 5px);
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    background: var(--red-color);
    border-radius: 5px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.del {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    padding: 10px;
}

.del::after {
    content: '';
    display: block;
    background: url('../img/icons/delete.svg') center / cover no-repeat;
    width: 100%;
    height: 100%;
    max-width: 20px;
    max-height: 20px;
}

.bx-soa-section {
    padding: 0;
    padding-bottom: 35px;
}

.bx-soa-section:not(:first-child) {
    margin-top: 35px;
}

.bx-soa-section-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
}

#bx-soa-properties .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#bx-soa-properties label {
    font-size: 12px;
}

label span.bx-authform-starrequired {
    color: var(--red-color);
}

.soa-property-container input,
.bx-sls input {
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 7px;
    border: 1px solid #8c8c8c;
    width: 100%;
    display: block;
}

.bx-sls input {
    width: 100%;
}

.col-md-4 {
    flex: 0 0 33.333333%;
}

#bx-soa-region .bx-soa-location-input-container {
    width: 100%;
}

.bx-notitle .bx-soa-section-title-container {
    display: none;
}

.bx-soa-pp {
    margin-top: 30px;
}

.bx-soa-pp-item-container {
    display: flex;
    gap: 30px;
}

.bx-soa-pp-company {
    flex: 1;
    border-radius: 5px;
    background: #fff;
    padding: 15px 15px 15px 40px;
    cursor: pointer;
    position: relative;
    border: 1px solid transparent;
    min-height: 150px;
}

.bx-soa-pp-company input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.bx-soa-pp-company label {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.bx-soa-pp-company label::after,
.bx-soa-pp-company label::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.bx-soa-pp-company label::after {
    width: 8px;
    height: 8px;
    left: -19px;
    background-color: var(--main-blue);
    opacity: 0;
}

.bx-soa-pp-company label::before {
    content: '';
    left: -23px;
    width: 16px;
    height: 16px;
    border: 1px solid var(--main-blue);
}

.bx-soa-pp-company input:checked ~ label::after {
    opacity: 1;
}

.bx-soa-pp-company:has(input:checked) {
    border-color: var(--main-blue);
}

.bx-soa-pp-company-graf-description {
    margin-top: 15px;
    font-size: 14px;
}

a.map_toogle {
    display: block;
    font-size: 12px;
    margin-top: 10px;
}

#collapse2 {
    margin-top: 15px;
}

#orderDescription {
    min-height: 120px;
    border: 1px solid var(--text-grey-color);
    margin-top: 7px;
}











#bx-soa-total {
    width: 100%;
    max-width: 285px;
    position: sticky;
    top: 211px;
}

#bx-soa-total.scroll {
    top: 88px;
}

#bx-soa-total > div {
    display: flex;
    flex-direction: column;
}

#bx-soa-total-city,
.bx-soa-cart-total {
    padding: 15px 30px;
    border-radius: 10px;
    background: #fff;
}

.bx-soa-cart-total .bx-soa-cart-total-line {
    display: flex;
    justify-content: space-between;
}

.bx-soa-total-line-head {
    color: var(--button-blue);
}

.bx-soa-total-line-body {
    color: var(--subtitle-color);
}

.bx-soa-total-line:first-child .bx-soa-total-line-head {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.bx-soa-total-line:not(:last-child) {
    margin-bottom: 20px;
}

.bx-soa-cart-total {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px 25px 15px 25px;
    margin-top: 15px;
}

.bx-soa-cart-total-line-total {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(5, 43, 52, 0.1);
    flex-direction: column;
}

.bx-soa-cart-total-line-total span.bx-soa-cart-t {
    display: block;
    font-size: 12px;
    color: #888;
}

.bx-soa-cart-total-line-total span.bx-soa-cart-d {
    font-size: 25px;
    font-weight: 600;
}

.bx-soa-cart-t {
    font-size: 12px;
}

.bx-soa-cart-d {
    font-weight: 500;
    font-size: 16px;
}

#bx-soa-orderSave .checkbox label input[type=checkbox] {
    display: none;
}

#bx-soa-orderSave {
    text-align: center;
    margin-top: 15px;
}

.main-user-consent-request-announce-link {
    cursor: pointer;
    font-size: 12px;
}

.checkbox label {
    cursor: pointer;
}

#bx_cart_buy {
    width: 100%;
    margin-top: 10px;
}

#bx_cart_buy ~ .bx-soa-pp-company-graf-description {
    text-align: left;
}

#bx_cart_buy ~ .bx-soa-pp-company-graf-description span {
    color: var(--red-color);
}

.bx-soa-coupon-input-wrap {
    position: relative;
    display: flex;
}

.bx-soa-coupon-input-wrap input {
    border-radius: 30px;
    border: 1px solid #8c8c8c;
    padding: 18px;
}

.bx-soa-coupon-input-wrap div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 18px;
    background: url('../img/icons/cart-arrow.svg') center / cover no-repeat;
    width: 18px;
    height: 16px;
    cursor: pointer;
}

#bx-soa-counpon {
    margin-top: 15px;
}

.select-client__tools {
    display: flex;
    gap: 10px;
}

.select-client__inner {
    border-radius: 5px;
    background: #fff;
    padding: 20px;
    position: relative;
}

.select-client__inner .close-btn svg path {
    fill: var(--button-blue);
}

.select-client__inner .clients__dropdown-list {
    max-height: 210px;
}

.select-client__search {
    position: relative;
}

.select-client__search input {
    border: 1px solid var(--button-blue);
    padding: 9px 50px;
    border-radius: 30px;
    font-size: 16px;
}

.select-client__search button {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
}

.select-client__tools .clients__new {
    padding: 9px 20px;
    font-size: 16px;
}

#selectClient .clients {
    margin-top: 10px;
}

#selectClient .clients {
    max-height: 500px;
    overflow: auto;
}

#selectClient .clients::-webkit-scrollbar {
    width: 10px;
    background: rgba(93, 108, 123, 0.25);
    border-radius: 10px;
}

#selectClient .clients::-webkit-scrollbar-thumb {
    background: rgba(93, 108, 123, 0.25);
    border-radius: 10px;
}



/* .cart-total {
    background-color: #fff;
    border-radius: 5px;
    padding: 22px 20px;
}

.cart-total__header-result {
    padding-bottom: 15px;
}

.cart-total__header-text {
    display: flex;
    justify-content: space-between;
}

.cart-total__header-text p {
    font-size: 12px;
    color: #888;
}

.cart-total__header-text p:last-child {
    display: none;
}

.cart-total__header p.cart-total__sum {
    font-size: 25px;
    font-weight: 600;
    margin-top: 5px;
}

.cart-calc {
    padding: 15px 0;
    border-top: 1px solid #eaebed;
    border-bottom: 1px solid #eaebed;
}

.cart-calc__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-calc__price p {
    font-size: 12px;
}

.cart-calc__price:first-child p {
    color: var(--text-black-color);
}

.cart-calc__price p.price {
    font-size: 16px;
    font-weight: 500;
}

.cart-calc__price p.price.price--sale {
    color: var(--red-color);
}

.cart-calc__price p span {
    display: block;
    color: #888;
}

.cart-calc__price+.cart-calc__price {
    margin-top: 15px;
}

form.cart-promocode {
    margin-top: 15px;
    position: relative;
}

form.cart-promocode .promocode-input {
    display: block;
    width: 100%;
    padding: 18px 40px 18px 18px;
    border-radius: 30px;
    border: 1px solid #8c8c8c;
}

form.cart-promocode .promocode-input::placeholder {
    color: #8c8c8c;
    font-size: 12px;
    line-height: 1.5;
}

.promocode-button {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.promocode-error {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.promocode-message {
    display: flex;
    align-items: center;
}

.promocode-message img {
    margin-right: 5px;
}

.promocode-message span {
    font-size: 12px;
}

.promocode-message span.text {
    color: var(--main-blue);
}

.cart-item__checkbox {
    display: none;
}

.rect-btn--order {
    margin-top: 25px;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.rect-btn--order .rect-btn--order-text {
    font-size: 16px;
    font-weight: 500;
}

.rect-btn--order .rect-btn--order-sum {
    font-size: 12px;
    color: rgba(255, 255, 255, .75);
}

.cart-aside .product-box__delivery-options {
    border-radius: 5px;
    margin-top: 15px;
    background-color: #fff;
}

.cart-mobile__choice {
    background-color: var(--search-color);
    display: none;
}

.cart-mobile__choice-inner {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.cart-mobile__choice-label,
.cart-item__checkbox label {
    position: relative;
    padding-left: 22px;
    cursor: pointer;
}

.cart-mobile__choice-label::before,
.cart-item__checkbox label::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid var(--subtitle-color);
    border-radius: 2px;
    background-color: #fff;
}

.cart-mobile__choice-label::after,
.cart-item__checkbox label::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    content: '';
    width: 11px;
    height: 9px;
    background: url(../img/icons/check.svg) center center / cover no-repeat;
    transition: var(--alt-transition);
    opacity: 0;
}

.cart-mobile__choice-label:has(input:checked)::after,
.cart-item__checkbox label:has(input:checked)::after {
    opacity: 1;
}

.cart-mobile__choice-label p {
    color: #fff;
    font-size: 14px;
}

.cart-mobile__choice-label input,
.cart-item__checkbox label input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.cart-mobile__choice-delete {
    color: var(--ruby-color);
    font-size: 14px;
}

.cart-item__buttons .cart-item__fav-btn.active {
    background-color: var(--main-blue);
}

.cart-item__buttons .cart-item__fav-btn.active path {
    stroke: #fff;
}

.cart-item__fav-btn.active path {
    stroke: var(--main-blue);
} */

/* CART END */