.catalog {
    padding: 20px 0 50px;
}

.catalog__categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px 50px;
}

.catalog__categories-box {
    display: flex;
    align-items: flex-start;
    gap: 18px;
}

.catalog__categories-box img {
    max-width: 50px;
}

.catalog__categories-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.catalog__categories-item {
    position: relative;
}

.catalog__categories-link {
    color: var(--text-grey-color);
}

.catalog__categories-link--title {
    font-size: 18px;
    color: var(--main-black);
}