:root {
    --main-blue: #537ce5;
    --main-black: #27282b;
    --bg-white: #ecf4ff;
    --main-green: #75D14A;
    --text-black-color: #282739;
    --text-grey-color: #8c8c8c;
    --to-order-color: #A6C3EE;
    --no-order-color: #6C7683;
    --ruby-color: #D44F68;
    --main-font: 'Rubik', sans-serif;
    --default-transition: all .5s;
    --alt-transition: all .2s;
    --red-color: #F63B00;
    --subtitle-color: #5d6c7b;
    --filter-bg-color: #f4f7fb;
    --hover-blue: #486BC5;
    --search-color: #343538;
}

html {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: var(--main-font);
}

::selection {
    background: var(--to-order-color);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-white);
    color: var(--text-black-color);
    font-size: 14px;
    line-height: 1.5;
}

input {
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}

input::placeholder {
    font-size: 18px;
    font-weight: 400;
    color: var(--subtitle-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

a {
    text-decoration: none;
    color: var(--text-black-color);
    transition: var(--default-transition);
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: block;
    transition: var(--default-transition);
}

section,
footer {
    padding: 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1430px;
}

.title h2 {
    font-size: 42px;
    line-height: 1.3;
    font-weight: 700;
    color: var(--text-black-color);
}

.title p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
    color: var(--subtitle-color);
}

.title.title--center {
    text-align: center;
}

.oval-btn {
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
    padding: 12px;
    font-size: 14px;
    line-height: 1.5;
}

.round-btn {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--default-transition);
}

.round-btn img {
    width: 100%;
    max-width: 20px;
}

.rect-btn {
    display: inline-block;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    background-color: transparent;
    padding: 15px;
    transition: var(--default-transition);
}

.brand-banner {
    background-color: #343538;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 227px;
}

.brand-banner__logo {
    max-width: 350px;
    max-height: 100px;
}

.brand-banner__text {
    font-size: 32px;
    line-height: 1.5;
    color: #fff;
    font-weight: 300;
    max-width: 400px;
}

.brand-banner__img {
    width: 100%;
    max-width: 280px;
}

.oval-btn--brand-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    width: 210px;
}

.white {
    background-color: #fff;
    color: var(--main-blue);
    transition: var(--default-transition);
}

.blue {
    background-color: var(--main-blue);
    color: #fff;
    transition: var(--default-transition);
}

.transparent {
    background-color: transparent;
    color: var(--main-blue);
    border: 1px solid var(--main-blue);
}

.glass {
    position: relative;
    overflow: hidden;
}

.glass::after {
    content: '';
    position: absolute;
    background-color: #fff;
    opacity: 0.5;
    height: 155px;
    left: -75px;
    top: -50px;
    transform: rotate(35deg);
    transition: var(--default-transition);
    width: 50px;
}

.close-btn {
    position: absolute;
    top: 16px;
    right: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: rgba(0, 0, 0, .5);
}

.swiper-button-prev,
.swiper-button-next {
    width: 42px;
    height: 42px;
    background-color: var(--main-blue);
    border-radius: 50%;
    transition: var(--default-transition);
    top: 50%;
}

.swiper-button-prev {
    left: -14px;
}

.swiper-button-next {
    right: -14px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    width: 8px;
    height: 12px;
    font-size: 0;
}

.swiper-button-prev::after {
    background: url('../img/icons/prev-button.svg') center center / cover no-repeat;
}

.swiper-button-next::after {
    background: url('../img/icons/next-button.svg') center center / cover no-repeat;
}

/* SKELETON START */

.skeleton {
    position: relative;
    overflow: hidden !important;
    background: linear-gradient(90deg, #eee, #d3d3d3, #eee) !important;
    border: none !important;
}

.skeleton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: linear-gradient(90deg, #eee, #d3d3d3, #eee);
    background-size: 200%;
    animation: skeleton 2s infinite linear reverse;
}


@keyframes skeleton {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

/* SKELETON END */

/* INFO START */

.info {
    padding: 30px 0;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20px;
}

.breadcrumbs__item {
    position: relative;
}

.breadcrumbs__item svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 5px);
}

.breadcrumbs__item a,
.breadcrumbs__item span {
    font-size: 12px;
    line-height: 1.5;
}

.breadcrumbs__item span.slash {
    margin-right: 5px;
}

.breadcrumbs__item.current span {
    color: var(--text-grey-color);
}

.breadcrumbs__item--home a svg path {
    transition: var(--default-transition);
}

.page-banner {
    padding: 70px 0 70px 45px;
    background: linear-gradient(90deg, #FFF 0.04%, #537CE5 99.64%);
    margin-top: 25px;
    border-radius: 20px;
}

.page -banner.skeleton {
    background: transparent;
}

.title--banner {
    display: flex;
    align-items: center;
    gap: 10px;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border: 1px solid var(--main-blue);
    border-radius: 5px;
    height: 35px;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-blue);
}

.tags {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.tags__item {
    height: 40px;
    border-radius: 20px;
    transition: var(--default-transition);
    padding: 6px 12px;
}

.tags__item.skeleton {
    background-color: transparent;
}

.tags__item a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 100%;
}

/* INFO END */

/* MOBILE-BOTTOM MENU START */

#mobile-bottom-menu {
    background-color: var(--main-black);
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 75px;
    z-index: 100;
    display: none;
    justify-content: center;
}

.mobile-bottom-menu__inner {
    display: flex;
    width: 350px;
}

.mobile-bottom-menu__item {
    position: relative;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.mobile-bottom-menu__item a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    height: 100%;
}

.mobile-bottom-menu__item svg {
    width: 25px;
    height: 25px;
    transition: var(--alt-transition);
}

.mobile-bottom-menu__item.active a svg path {
    fill: var(--main-blue);
}

.mobile-bottom-menu__item.active:not(:first-child) a svg path {
    stroke: var(--main-blue);
}

/* MOBILE-BOTTOM MENU END */

/* HEADER-MENU START */

.header-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 500;
    left: 0;
    transition: var(--alt-transition);
    visibility: hidden;
    opacity: 0;
}

.header-menu.active {
    visibility: visible;
    opacity: 1;
}

.header-menu__inner {
    width: 85%;
    background-color: var(--search-color);
    height: 100%;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    left: -100%;
    transition: .2s;
}

.header-menu.active .header-menu__inner {
    left: 0;
    transition: var(--alt-transition);
}

.header-menu__inner::-webkit-scrollbar,
.aside__inner::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(93, 108, 123, .25);
    border-radius: 10px;
}

.header-menu__inner::-webkit-scrollbar-thumb,
.aside__inner::-webkit-scrollbar-thumb {
    background-color: rgba(93, 108, 123, .43);
    border-radius: 10px;
}

.header-menu__close.close-btn--header-menu {
    align-self: flex-end;
    position: static;
}

.header-menu .header-city {
    margin: 0;
    margin-top: 10px;
}

.header-menu .header-city__icon {
    background-color: var(--main-black);
}

.header-menu .header-menu__nav {
    margin-top: 30px;
}

.header-menu .header-menu__nav-box+.header-menu__nav-box {
    margin-top: 20px;
}

.header-menu .header-menu__nav-title {
    position: relative;
    cursor: pointer;
}

.header-menu .header-menu__nav-title.active~.header-menu__nav-list {
    display: block;
}

.header-menu .header-menu__nav-title {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.header-menu .header-menu__nav-title.active::before {
    transform: rotate(225deg);
}

.header-menu__nav-title::before {
    content: '';
    border: solid #8c8c8c;
    border-width: 0 1px 1px 0;
    display: block;
    padding: 3px;
    transform: rotate(45deg);
    position: absolute;
    top: 5px;
    right: 20px;
    transition: var(--alt-transition);
    display: block;
}

.header-menu .header-menu__nav-list {
    margin-top: 10px;
    display: none;
}

.header-menu .header-menu__nav-item+.header-menu__nav-item {
    margin-top: 15px;
}

.header-menu .header-menu__nav-item a {
    color: var(--text-grey-color);
}

.header-menu .header-menu__panel {
    margin-top: 30px;
}

.header-menu .header-menu__panel-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-menu .header-menu__panel-item+.header-menu__panel-item {
    margin-top: 25px;
}

.header-menu .header-menu__panel-img {
    background-color: var(--main-black);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
    min-height: 48px;
    transition: var(--default-transition);
}



.header-menu .header-menu__panel-text span.suptitle {
    font-size: 12px;
    color: #8c8c8c;
}

.header-menu .header-menu__panel-text span:not(.suptitle) {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    transition: var(--default-transition);
    display: block;
}

.header-menu .header-menu__socials {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    gap: 15px;
}

.header-menu .round-btn--header-menu {
    width: 48px;
    height: 48px;
    background-color: var(--main-black);
}

/* HEADER-MENU END */

.mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .62);
    z-index: 500;
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    transition: var(--alt-transition);
}

.mobile-overlay.active {
    visibility: visible;
    opacity: 1;
}

/* NOT FOUND START */

.not-found {
    background-color: var(--search-color);
    padding-top: 45px;
}

.not-found__return {
    color: #fff;
    position: relative;
    margin-left: 20px;
}

.not-found__return::after {
    content: '';
    position: absolute;
    background-image: url(../img/icons/return-catalog-white.svg);
    background-repeat: no-repeat;
    width: 13px;
    height: 9px;
    top: 50%;
    right: calc(100% + 7px);
    transform: translateY(-50%);
}

.not-found__return.skeleton::after {
    display: none;
}

.not-found__content {
    display: flex;
    justify-content: center;
    gap: 170px;
    padding: 185px 0 330px;
}

.not-found__text {
    color: #fff;
    max-width: 300px;
}

.not-found__title {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
}

.not-found__descr {
    margin-top: 35px;
}

.rect-btn--not-found {
    color: var(--main-black);
    font-size: 16px;
    padding: 15px 25px;
    margin-top: 30px;
    border-radius: 5px;
}

.not-found__subtext {
    margin-top: 15px;
}

.not-found__subtext,
.not-found__subtext a {
    color: var(--text-grey-color);
}

.not-found__code p {
    font-size: 228px;
    font-weight: 600;
    background: linear-gradient(246deg, #FFF 17.58%, #ABABAB 82.05%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Jost', sans-serif;
}

/* NOT FOUND END */

.header__mobile-more {
    position: relative;
}

.header__mobile-more-btn {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 5px;
}

.header__mobile-more-btn span {
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    display: block;
}

.header__mobile-more-dropdown {
    position: absolute;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--search-color);
    right: 0;
    top: 0;
    width: 140px;
    transform: scale(0);
    transform-origin: 100% 0;
    transition: var(--default-transition);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
}

.header__mobile-more-dropdown.active {
    transform: scale(1);
}

.header__mobile-more-dropdown ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header__mobile-more-dropdown ul button {
    color: #fff;
    text-align: left;
    font-size: 10px;
}