:root {
    --main-blue: #537ce5;
    --main-black: #27282b;
    --bg-white: #ecf4ff;
    --main-green: #75D14A;
    --text-black-color: #282739;
    --text-grey-color: #8c8c8c;
    --to-order-color: #A6C3EE;
    --no-order-color: #6C7683;
    --ruby-color: #D44F68;
    --main-font: 'Rubik', sans-serif;
    --default-transition: all .5s;
    --alt-transition: all .2s;
    --red-color: #F63B00;
    --subtitle-color: #5d6c7b;
    --filter-bg-color: #f4f7fb;
    --hover-blue: #486BC5;
    --search-color: #343538;
}

html {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: var(--main-font);
}

::selection {
    background: var(--to-order-color);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-white);
    color: var(--text-black-color);
    font-size: 14px;
    line-height: 1.5;
}

input {
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}

input::placeholder {
    font-size: 18px;
    font-weight: 400;
    color: var(--subtitle-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

a {
    text-decoration: none;
    color: var(--text-black-color);
    transition: var(--default-transition);
}

a:hover {
    color: var(--main-blue);
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: block;
    transition: var(--default-transition);
}

section,
footer {
    padding: 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1430px;
}

.title h2 {
    font-size: 42px;
    line-height: 1.3;
    font-weight: 700;
    color: var(--text-black-color);
}

.title p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
    color: var(--subtitle-color);
}

.title.title--center {
    text-align: center;
}

.oval-btn {
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
    padding: 12px;
    font-size: 14px;
    line-height: 1.5;
}

.round-btn {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--default-transition);
}

.round-btn img {
    width: 100%;
    max-width: 20px;
}

.rect-btn {
    display: inline-block;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    background-color: transparent;
    padding: 15px;
    transition: var(--default-transition);
}

.brand-banner {
    background-color: #343538;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 227px;
}

.brand-banner__logo {
    max-width: 350px;
    max-height: 100px;
}

.brand-banner__text {
    font-size: 32px;
    line-height: 1.5;
    color: #fff;
    font-weight: 300;
    max-width: 400px;
}

.brand-banner__img {
    width: 100%;
    max-width: 280px;
}

.oval-btn--brand-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    width: 210px;
}

.oval-btn--brand-banner:hover {
    color: #fff;
    background-color: var(--hover-blue);
}

.white {
    background-color: #fff;
    color: var(--main-blue);
    transition: var(--default-transition);
}

.white:hover {
    background-color: var(--hover-blue);
    color: #fff;
}

.blue {
    background-color: var(--main-blue);
    color: #fff;
    transition: var(--default-transition);
}

.blue:hover {
    background-color: var(--hover-blue);
    color: #fff;
}

.transparent {
    background-color: transparent;
    color: var(--main-blue);
    border: 1px solid var(--main-blue);
}

.transparent:hover {
    background-color: var(--main-blue);
    color: #fff;
}

.glass {
    position: relative;
    overflow: hidden;
}

.glass::after {
    content: '';
    position: absolute;
    background-color: #fff;
    opacity: 0.5;
    height: 155px;
    left: -75px;
    top: -50px;
    transform: rotate(35deg);
    transition: var(--default-transition);
    width: 50px;
}

.glass:hover::after {
    left: 120%;
}

.close-btn {
    position: absolute;
    top: 16px;
    right: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: rgba(0, 0, 0, .5);
}

.swiper-button-prev,
.swiper-button-next {
    width: 42px;
    height: 42px;
    background-color: var(--main-blue);
    border-radius: 50%;
    transition: var(--default-transition);
    top: 50%;
}

.swiper-button-prev {
    left: -21px;
}

.swiper-button-next {
    right: -21px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: var(--hover-blue);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    width: 8px;
    height: 12px;
    font-size: 0;
}

.swiper-button-prev::after {
    background: url('../img/icons/prev-button.svg') center center / cover no-repeat;
}

.swiper-button-next::after {
    background: url('../img/icons/next-button.svg') center center / cover no-repeat;
}

/* SKELETON START */

.skeleton {
    position: relative;
    overflow: hidden !important;
    background: linear-gradient(90deg, #eee, #d3d3d3, #eee) !important;
    border: none !important;
}

.skeleton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: linear-gradient(90deg, #eee, #d3d3d3, #eee);
    background-size: 200%;
    animation: skeleton 2s infinite linear reverse;
}


@keyframes skeleton {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

/* SKELETON END */

/* INFO START */

.info {
    padding: 50px 0;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.breadcrumbs__item {
    position: relative;
}

.breadcrumbs__item svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 5px);
}

.breadcrumbs__item a,
.breadcrumbs__item span {
    font-size: 12px;
    line-height: 1.5;
}

.breadcrumbs__item span.slash {
    margin-right: 5px;
}

.breadcrumbs__item.current span {
    color: var(--text-grey-color);
}

.breadcrumbs__item--home a svg path {
    transition: var(--default-transition);
}

.breadcrumbs__item--home a:hover svg path {
    fill: var(--main-blue);
}

.page-banner {
    padding: 70px 0 70px 45px;
    background: linear-gradient(90deg, #FFF 0.04%, #537CE5 99.64%);
    margin-top: 25px;
    border-radius: 20px;
}

.page    -banner.skeleton {
    background: transparent;
}

.title--banner {
    display: flex;
    align-items: center;
    gap: 10px;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border: 1px solid var(--main-blue);
    border-radius: 5px;
    height: 35px;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-blue);
}

.tags {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.tags__item {
    height: 40px;
    border-radius: 20px;
    min-width: 190px;
    transition: var(--default-transition);
}

.tags__item.skeleton {
    background-color: transparent;
}

.tags__item a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 100%;
}

/* INFO END */

/* MOBILE-BOTTOM MENU START */

#mobile-bottom-menu {
    background-color: var(--main-black);
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 75px;
    z-index: 100;
    display: flex;
    justify-content: center;
}

.mobile-bottom-menu__inner {
    display: flex;
    width: 350px;
}

.mobile-bottom-menu__item {
    position: relative;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.mobile-bottom-menu__item a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    height: 100%;
}

.mobile-bottom-menu__item svg {
    width: 25px;
    height: 25px;
    transition: var(--alt-transition);
}

.mobile-bottom-menu__item.active a svg {
    transform: translateY(-2px);
    opacity: 1;
}

.mobile-bottom-menu__item.active:first-child a svg path {
    fill: var(--main-blue);
}

.mobile-bottom-menu__item.active:nth-child(2) a svg path,
.mobile-bottom-menu__item.active:nth-child(3) a svg path,
.mobile-bottom-menu__item.active:nth-child(4) a svg path, 
.mobile-bottom-menu__item.active:nth-child(5) a svg path {
    stroke: var(--main-blue);
}


.mobile-bottom-menu__item.active:nth-child(2).active ~ .mobile-menu__slider {
    transform: translate(calc(70px * 1));
}
.mobile-bottom-menu__item.active:nth-child(3).active ~ .mobile-menu__slider {
    transform: translate(calc(70px * 2));
}
.mobile-bottom-menu__item.active:nth-child(4).active ~ .mobile-menu__slider {
    transform: translate(calc(70px * 3));
}
.mobile-bottom-menu__item.active:nth-child(5).active ~ .mobile-menu__slider {
    transform: translate(calc(70px * 4));
}

.mobile-bottom-menu__slider {
    position: absolute;
    top: 0px;
    width: 70px;
    height: 70px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border: 6px solid #fff;
    background: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.mobile-bottom-menu__slider span {
    position: absolute;
    bottom: 3px;
    left: -1px;
    width: 60px;
    height: 60px;
    border: 4px solid var(--main-blue);
    background: #fff;
    border-radius: 50%;
    transform-origin: bottom;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    transform: scale(0.85);
    overflow: hidden;
}

.mobile-bottom-menu__slider::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -25.75px;
    width: 20px;
    height: 20px;
    border-top-right-radius: 20px;
    box-shadow: 4px -6px 0 2px #fff;
}

.mobile-bottom-menu__slider::after {
    content: "";
    position: absolute;
    top: 4px;
    right: -25.75px;
    width: 20px;
    height: 20px;
    border-top-left-radius: 20px;
    box-shadow: -4px -6px 0 2px #fff;
    z-index: -1;
}

.mobile-bottom-line {
    position: absolute;
    width: 100%;
    background-color: #fff;
    height: 10px;
    top: 0;
    left: 0;
    right: 0;
}

/* MOBILE-BOTTOM MENU END */

/* HEADER-MENU START */

.header-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .62);
    z-index: 500;
    backdrop-filter: blur(10px);
    left: -100%;
    transition: var(--alt-transition);
}

.header-menu.active {
    left: 0;
}

.header-menu__inner {
    width: 85%;
    background-color: var(--search-color);
    height: 100%;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
}

.header-menu__inner::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(93, 108, 123, .25);
    border-radius: 10px;
}

.header-menu__inner::-webkit-scrollbar-thumb {
    background-color: rgba(93, 108, 123, .43);
    border-radius: 10px;
}

.header-menu__close.close-btn--header-menu {
    align-self: flex-end;
    position: static;
}

.header-menu__close.close-btn--header-menu:hover svg path {
    fill: var(--main-blue);
}

.header-menu .header-city {
    margin: 0;
    margin-top: 10px;
} 

.header-menu .header-city__icon {
    background-color: var(--main-black);
}

.header-menu .header-menu__nav {
    margin-top: 30px;
}

.header-menu .header-menu__nav-box + .header-menu__nav-box {
    margin-top: 20px;
}

.header-menu .header-menu__nav-title {
    position: relative;
    cursor: pointer;
}

.header-menu .header-menu__nav-title.active ~ .header-menu__nav-list {
    display: block;
}

.header-menu .header-menu__nav-title a {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.header-menu .header-menu__nav-title.active::before {
    transform: rotate(225deg);
}

.header-menu__nav-title::before {
    content: '';
    border: solid #8c8c8c;
    border-width: 0 1px 1px 0;
    display: block;
    padding: 3px;
    transform: rotate(45deg);
    position: absolute;
    top: 8px;
    right: 20px;
    transition: var(--alt-transition);
    display: block;
}

.header-menu .header-menu__nav-title a:hover,
.header-menu .header-menu__nav-item a:hover {
    color: var(--main-blue);
}

.header-menu .header-menu__nav-list {
    margin-top: 10px;
    display: none;
}

.header-menu .header-menu__nav-item + .header-menu__nav-item {
    margin-top: 15px;
}

.header-menu .header-menu__nav-item a {
    color: var(--text-grey-color);
}

.header-menu .header-menu__panel {
    margin-top: 30px;
}

.header-menu .header-menu__panel-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-menu .header-menu__panel-item + .header-menu__panel-item {
    margin-top: 25px;
}

.header-menu .header-menu__panel-img {
    background-color: var(--main-black);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
    min-height: 48px;
    transition: var(--default-transition);
}

.header-menu .header-menu__panel-item:hover .header-menu__panel-img {
    background-color: var(--main-blue);
}

.header-menu .header-menu__panel-item:hover .header-menu__panel-text span {
    color: var(--main-blue);
}

.header-menu .header-menu__panel-text span.suptitle {
    font-size: 12px;
    color: #8c8c8c;
}

.header-menu .header-menu__panel-text span:not(.suptitle) {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    transition: var(--default-transition);
    display: block;
}

.header-menu .header-menu__socials {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    gap: 15px;
}

.header-menu .round-btn--header-menu {
    width: 48px;
    height: 48px;
    background-color: var(--main-black);
}

.header-menu .round-btn--header-menu.vk:hover {
    background-color: #0077FF;
}
.header-menu .round-btn--header-menu.youtube:hover {
    background-color: #c4302b;
}
.header-menu .round-btn--header-menu.telegram:hover {
    background-color: #0088cc;
}
.header-menu .round-btn--header-menu.whatsapp:hover {
    background-color: #25D366;
}

/* HEADER-MENU END */