/* PERSONAL START */

.personal {
    margin-bottom: 80px;
}

.personal-main .info {
    padding-bottom: 95px;
}

.personal__inner {
    display: flex;
    gap: 25px;
}

.personal__aside {
    width: 100%;
    max-width: 255px;
}

.personal__aside-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.personal__aside-item,
.personal__aside-item-link {
    display: block;
    padding: 18px 25px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: color .5s;
    border: 2px solid  transparent;
}

.personal__aside-item:has(input:checked) {
    border-color: var(--main-blue);
    color: var(--main-blue);
    font-weight: 500;
}

.personal__aside-item input {
    z-index: -1;
    position: absolute;
    opacity: 0;
}

.personal__aside-item.active a {
    color: var(--main-blue);
    font-weight: 500;
}

.personal__aside-item.personal__item--btn {
    padding: 0;
    background: transparent;
}

.rect-btn--personal-quit {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    padding: 18px 25px;
    text-align: left;
}

.personal__item {
    display: none;
    width: 100%;
}

.personal__item.active {
    display: block;
}

.personal__tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.personal__tile,
.personal__tile-link {
    width: calc(33.333333% - 18px);
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--main-blue);
    border-radius: 10px;
    cursor: pointer;
    transition: var(--default-transition);
    justify-content: space-between;
}

.personal__tile p,
.personal__tile-link p {
    font-size: 20px;
    font-weight: 500;
    color: var(--main-blue);
    transition: var(--default-transition);
}

.personal__tile svg path,
.personal__tile-link svg path {
    transition: var(--default-transition);
}

.require {
    position: relative;
}

.require::after {
    content: '*';
    color: var(--ruby-color);
}

.personal__form-hint,
.personal__form-buttons {
    position: relative;
    width: 100%;
    max-width: 632px;
}

.personal__form--change-password .personal__form-label {
    position: relative;
}

.personal__form--entity .personal__form-buttons,
.personal__form--entity .personal__form-hint {
    max-width: 760px;
}

.personal__form-label-row {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 5px;
}

.personal__form input {
    display: block;
    width: 50%;
    max-width: 632px;
    padding: 15px 25px;
    border-radius: 5px;
    border: 1px solid #8c8c8c;
    font-size: 16px;
}

.personal__form input[required] {
    border-color: #8c8c8c;
}

.personal__form--entity input {
    width: 100%;
}

.personal__form--change-password .personal__form-label input {
    border-radius: 10px;
}

.personal__form--entity .personal__form-row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    max-width: 760px;
}

.personal__form--entity .personal__form-label {
    width: 50%;
}

.personal__form-row:not(:first-child) {
    margin-top: 20px;
}

.personal__form-row-text {
    width: 50%;
    font-size: 16px;
    color: var(--subtitle-color);
}

.personal__form-label input::placeholder {
    font-size: 16px;
    color: var(--subtitle-color);
}

.personal__form-hint {
    text-align: right;
    font-size: 12px;
    margin-top: 20px;
}

.personal__form-hint span {
    color: var(--ruby-color);
}

.personal__form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.personal__form-buttons button {
    padding: 15px 32px;
    font-size: 18px;
    font-weight: 400;
}

.personal__form--change-password .personal__form-label {
    display: block;
    max-width: 380px;
}

.personal__form--change-password .personal__form-label:not(:first-child) {
    margin-top: 20px;
}

.personal__form--change-password .personal__form-row {
    display: flex;
    align-items: center;
}

.personal__form--change-password .personal__form-row input {
    margin-top: 5px;
}

.rect-btn--personal-change-password {
    margin-top: 40px;
    padding: 18px 32px;
    font-size: 18px;
    font-weight: 400;
}

.personal__progress {
    width: 100%;
    padding: 70px 30px 20px 30px;
    background-color: var(--main-blue);
    color: #fff;
    border-radius: 20px;
}
.personal__progress-title {
    display: flex;
    align-items: center;
    gap: 15px;
}
.personal__progress-value {
    font-size: 42px;
    font-weight: 500;
}
.personal__progress-descr {
    max-width: 90px;
    font-size: 16px;
}
.personal__progress-line {
    position: relative;
    height: 7px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.personal__progress-point {
    position: relative;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
}

.personal__progress-point:nth-child(2) {
    left: calc(10% - 27px);
}

.personal__progress-point:nth-child(3) {
    left: calc(50% - 45px);
}

.personal__progress-point:nth-child(4) {
    left: calc(100% - 63px);
} 

.personal__progress-point-text {
    position: absolute;
    bottom: calc(100% + 7px);
    display: flex;
    align-items: center;
    gap: 15px;
}

.personal__progress-point:nth-child(4) .personal__progress-point-text {
    right: 0;
}

.personal__progress-point .point-decimal {
    font-size: 18px;
}

.personal__progress-point.current .point-decimal {
    font-size: 42px;
    line-height: 1;
    font-weight: 500;
}

.personal__progress-current {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    border-radius: 20px;
}
.personal__progress-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.personal__progress-sum {
    font-size: 18px;
}
.personal__progress-sum .sum {
    font-weight: 500;
}
.personal__progress-hint {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    font-size: 24px;
}

.personal__sale {
    margin-top: 35px;
}

.personal__sale-text {
    font-size: 18px;
}

.personal__sale-text:not(:first-child) {
    margin-top: 1em;
}

.personal__sale-text .blue-text {
    color: var(--hover-blue);
    font-weight: 500;
}
.personal__bonuses-individual-text {
    font-size: 20px;
    font-weight: 700;
}
.rect-btn--bonuses-register {
    padding: 18px 32px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 75px;
}

.personal__bonuses-entity {
    margin-top: 20px;
}
.personal__bonuses-entity-text p {
    font-size: 18px;
}
.personal__bonuses-entity-text ul {
    font-size: 18px;
    margin-top: 1em;
    list-style-type: "- ";
    list-style-position: inside;
}
form.personal__form--individual label[data-input-required] span.require-icon {
    width: 20px;
    height: 20px;
    right: calc(50% + 20px);
}
form.personal__form--entity label[data-input-required] {
    display: block;
} 
form.personal__form--entity label[data-input-required] span.require-icon {
    width: 20px;
    height: 20px;
    top: 50%;
} 
/* PERSONAL END */