/* RECS START */

.recs {
    padding-bottom: 50px;
}

.recs .title h2 {
    font-size: 25px;
}

.recs-list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 15px;
}

.recs-list .product-card {
    overflow: visible;
}

.recs-list .product-card__footer {
    position: absolute;
    max-height: 0;
    background-color: #fff;
    z-index: 10;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
}
/* RECS END */